body {
    background-color:#F1F1F1;;
    margin-left: 50px;
}

.container {
    margin-left: 50px;
    ul {
        display: flex;
        margin-left: 40px;
    }
    li {
        margin-top: 20px;
        margin-left: 35px;
        @include cont;
    }
}

.img-1 {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

h2 {
    @include idk-1;
}

section {
    margin-left: 80px;
    .cardmain {
        margin-top: 30px;
    }
    .card-1{
        margin-left: 40px;
    }
    .maincard img {
        @include imgg;
    }
    .maincard p {
        @include pp;
    }
    .cardd {
        width: 362px;
        height: 171px;
        border-radius: 0px 0px 5px 5px;
        background: #FFF;
    }
    .cardp {
        p {
            width: 238px;
            color: #8A8787;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 60px;
            padding-left: 35px;
        }
    }
    .idk-1 {
        img {
            padding-top: 10px;
            padding-left: 33px;
        }
    }
    .justt {
        display: flex;
    }
    .pp-1 {
        p {
            color: #8A8787;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 13px;
            padding-left: 8px;
        }
    }
    .cardmain {
        display: flex;
    }
    .ccard p {
        position: absolute;
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        top: 24%;
        left: 40%;
    }
    .card4 p {
        position: absolute;
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        top: 24%;
        left: 66%;
    }
}

.sec-2 {
    .maincard-2 {
        display: flex
    }
        h3 {
            @include hh;
        }
    .minidiv {
        margin-left: 39.5px;
        margin-top: 40px;
        img {
            @include imggg;
        }
        p {
            @include p-1;
        }
    }
    .div3 {
        display: flex;
        flex-direction: column;
        img {
            @include pmg;
        }
    }
}

footer {
    width: 1469px;
    height: 201px;
    background: #243043;
    li {
        @include lii;
        padding-bottom: 10px;
    }
    .mindiv {
        display: flex;
        padding-top: 60px;
        margin-left: 110px;
        .clutch {
            margin: 20px;
            padding: 3px;
        }
        .outline {
            margin: 20px;
            padding: 3px;
            margin-left: 70px;
        }
        .expline {
            margin: 20px;
            padding: 3px;
            margin-left: 70px;
        }
        .output {
            display: flex;
            p {
               color: #FFF;
               font-family: Roboto;
               font-size: 12px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               margin-top: 21px;
               margin-left: 110px;
            }
            img {
                width: 38px;
                height: 40px;
                margin-left: 410px;
                margin-top: 7px;
            }
        }
    }
}

